* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    text-align: center;
}

label {
    font-size: 0.9em;
    font-weight: 800;
    display: block;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btn_doIt {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn_doIt:hover {
    background-color: #0a470d;
}